In [1]:
import pandas as pd
from pyecharts.charts import *
from pyecharts import options as opts

In [6]:
#读取数据
df = pd.read_excel("../data/业务数据.xls")
df

,销售,账单状态,账单周期,账单金额,开票金额,实收金额,未收金额,预计付款日,应付日期,商务催收日期,账期,实际到账日,开票日期,客服
0,s101,未确认,2019-05,29805.0,NaN,NaN,NaN,2019-07-31,2019-07-31,2019-08-15,60,NaN,NaN,a201
1,s102,未确认,2019-05,1572.6,NaN,NaN,NaN,2019-07-31,2019-07-31,2019-08-15,60,NaN,NaN,a202
2,s103,已确认,2019-04,487551.2,487551.2,NaN,487551.2,2019-06-30,2019-06-30,2019-07-15,60,NaN,05-16,a203
3,s104,已确认,2019-04,378835.0,378835.0,NaN,378835.0,2019-07-31,2019-07-31,2019-08-15,90,NaN,05-08,a204
4,s105,已确认,2019-04,326866.0,326866.0,NaN,326866.0,2019-07-31,2019-07-31,2019-08-15,90,NaN,05-10,a205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252,s5353,已确认,2017-07,22800.0,NaN,NaN,NaN,2017-07-31,2017-08-31,2017-09-15,30,NaN,NaN,a5453
5253,s5354,已确认,2017-07,6483.0,NaN,NaN,NaN,2017-09-30,2017-09-30,2017-10-15,60,NaN,NaN,a5454
5254,s5355,已核销,2017-06,418795.0,418795.0,418795.0,0.0,2017-08-14,2017-08-31,2017-09-15,60,2017-08-31,11-02,a5455
5255,s5356,已核销,2017-06,86337.0,86337.0,86337.0,0.0,2017-08-31,2017-08-31,2017-09-15,60,2017-08-22,11-02,a5456
5256,s5357,已确认,2017-06,34550.0,NaN,NaN,NaN,2017-08-31,2017-08-31,2017-09-15,60,NaN,NaN,a5457

In [7]:
#查看数据
df.info()
#1.从数据的完整性来看，有些数据是空的，因此需要填充
#开票金额、实收金额、未收金额、实际到账日

#2.把非日期类型转换为datetime类型
#实际到账日、应付日期、账单周期

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5257 entries, 0 to 5256
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   销售      5257 non-null   object
 1   账单状态    5257 non-null   object
 2   账单周期    5257 non-null   object
 3   账单金额    5257 non-null   float64
 4   开票金额    5010 non-null   float64
 5   实收金额    4470 non-null   float64
 6   未收金额    5010 non-null   float64
 7   预计付款日   5256 non-null   object
 8   应付日期    5257 non-null   object
 9   商务催收日期  5257 non-null   object
 10  账期      5257 non-null   int64
 11  实际到账日   4387 non-null   object
 12  开票日期    4996 non-null   object
 13  客服      5257 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 575.1+ KB

In [8]:
df.describe()

               账单金额          开票金额          实收金额          未收金额           账期
count  5.257000e+03  5.010000e+03  4.470000e+03  5.010000e+03  5257.000000
mean   4.073241e+04  4.096896e+04  4.082419e+04  4.684636e+03    64.539661
std    8.176172e+04  8.007245e+04  7.970628e+04  2.888464e+04    15.622765
min    0.000000e+00  2.500000e+01  0.000000e+00  0.000000e+00     0.000000
25%    5.103000e+03  5.300000e+03  5.112250e+03  0.000000e+00    60.000000
50%    1.436500e+04  1.486560e+04  1.434000e+04  0.000000e+00    60.000000
75%    4.178000e+04  4.220250e+04  4.170750e+04  0.000000e+00    75.000000
max    1.508796e+06  1.356215e+06  1.301665e+06  1.277098e+06    90.000000

In [10]:
#获取交易时间的最大值，当做当前时间（从实际到账日取最大值）
df2 = df.copy()

In [12]:
today_time = pd.to_datetime(df2['实际到账日'].fillna("0").max())
today_time

Timestamp('2019-05-17 00:00:00')

In [21]:
#数据填充
df2['开票金额'] = df2['开票金额'].fillna(0)

In [22]:
df2['实收金额'] = df2['实收金额'].fillna(0)
df2['未收金额'] = df2['未收金额'].fillna(0)

In [23]:
#数据填充，数据转换
df2['实际到账日'] = pd.to_datetime(df2['实际到账日'].fillna(today_time))

In [24]:
#应付日期类型转换
df2['应付日期'] = pd.to_datetime(df2['应付日期'])
df2['账单周期'] = pd.to_datetime(df2['账单周期'])

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5257 entries, 0 to 5256
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   销售      5257 non-null   object
 1   账单状态    5257 non-null   object
 2   账单周期    5257 non-null   datetime64[ns]
 3   账单金额    5257 non-null   float64
 4   开票金额    5257 non-null   float64
 5   实收金额    5257 non-null   float64
 6   未收金额    5257 non-null   float64
 7   预计付款日   5256 non-null   object
 8   应付日期    5257 non-null   datetime64[ns]
 9   商务催收日期  5257 non-null   object
 10  账期      5257 non-null   int64
 11  实际到账日   5257 non-null   datetime64[ns]
 12  开票日期    4996 non-null   object
 13  客服      5257 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(1), object(6)
memory usage: 575.1+ KB

* 为了计算方便，额外计算几个字段，用于后续的计算逻辑

In [28]:
#是否到期，apply，自定义函数，自己指定逻辑
#axis=0，按行
#axis=1，按列
df2['是否到期'] = df2.apply(lambda x:0 if x['应付日期'] > today_time else 1,axis=1)

In [31]:
#是否到期90天
df2['是否到期90天'] = (today_time - df2['应付日期']).apply(lambda x:1 if x.days >= 90 else 0)

In [32]:
#未收金额
df2['未收金额2'] = df2['账单金额'] - df2['实收金额']

In [60]:
#历史逾期天数，if条件成立，说明是历史逾期，else，说明未收金额2 不等于 0，说明现在仍然处于逾期阶段
df2['历史逾期天数'] = df2.apply(lambda x:(x['实际到账日'] - x['应付日期']).days if x['未收金额2'] == 0 else (today_time - x['应付日期']).days,axis=1)

In [61]:
#当前逾期天数，未收金额2 > 0，说明当前逾期，否则就是还清了
df2['当前逾期天数'] = df2.apply(lambda x:(today_time - x['应付日期']).days if x['未收金额2'] > 0 else 0,axis=1)

In [62]:
df2

,销售,账单状态,账单周期,账单金额,开票金额,实收金额,未收金额,预计付款日,应付日期,商务催收日期,账期,实际到账日,开票日期,客服,是否到期,是否到期90天,未收金额2,当前逾期天数,历史逾期天数
0,s101,未确认,2019-05-01,29805.0,0.0,0.0,0.0,2019-07-31,2019-07-31,2019-08-15,60,2019-05-17,NaN,a201,0,0,29805.0,-75,-75
1,s102,未确认,2019-05-01,1572.6,0.0,0.0,0.0,2019-07-31,2019-07-31,2019-08-15,60,2019-05-17,NaN,a202,0,0,1572.6,-75,-75
2,s103,已确认,2019-04-01,487551.2,487551.2,0.0,487551.2,2019-06-30,2019-06-30,2019-07-15,60,2019-05-17,05-16,a203,0,0,487551.2,-44,-44
3,s104,已确认,2019-04-01,378835.0,378835.0,0.0,378835.0,2019-07-31,2019-07-31,2019-08-15,90,2019-05-17,05-08,a204,0,0,378835.0,-75,-75
4,s105,已确认,2019-04-01,326866.0,326866.0,0.0,326866.0,2019-07-31,2019-07-31,2019-08-15,90,2019-05-17,05-10,a205,0,0,326866.0,-75,-75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5252,s5353,已确认,2017-07-01,22800.0,0.0,0.0,0.0,2017-07-31,2017-08-31,2017-09-15,30,2019-05-17,NaN,a5453,1,1,22800.0,624,624
5253,s5354,已确认,2017-07-01,6483.0,0.0,0.0,0.0,2017-09-30,2017-09-30,2017-10-15,60,2019-05-17,NaN,a5454,1,1,6483.0,594,594
5254,s5355,已核销,2017-06-01,418795.0,418795.0,418795.0,0.0,2017-08-14,2017-08-31,2017-09-15,60,2017-08-31,11-02,a5455,1,1,0.0,0,0
5255,s5356,已核销,2017-06-01,86337.0,86337.0,86337.0,0.0,2017-08-31,2017-08-31,2017-09-15,60,2017-08-22,11-02,a5456,1,1,0.0,0,-9
5256,s5357,已确认,2017-06-01,34550.0,0.0,0.0,0.0,2017-08-31,2017-08-31,2017-09-15,60,2019-05-17,NaN,a5457,1,1,34550.0,624,624

In [63]:
#把时间转换为季度
df3 = df2.copy()
#Q:quarter，季度的意思
df3['账单季度'] = df3['账单周期'].map(lambda x:x.to_period('Q'))
df3['账单季度'].value_counts()
df3.shape

(5257, 20)

In [64]:
#过滤一部分数据，过滤后的这一份数据就是最终可以进行指标计算的数据了
df3 = df3[(df3['账单季度'] >= '2017Q3') & (df3['账单季度'] <= '2018Q4')]
df3.shape

(3856, 20)

In [65]:
#账单金额
fn1 = df3.groupby("账单季度")[['账单金额']].sum()
fn1.columns = ['账单金额']
fn1

               账单金额
账单季度
2017Q3   8247952.62
2017Q4  11643604.99
2018Q1  17149674.79
2018Q2  31097661.29
2018Q3  38292071.12
2018Q4  51963089.64

In [66]:
#90天到期金额
df4 = df3[df3['是否到期90天'] == 1]
fn2 = df4.groupby("账单季度")[['账单金额']].sum()
fn2.columns = ['到期金额']
fn2

               到期金额
账单季度
2017Q3   8247952.62
2017Q4  11643604.99
2018Q1  17149674.79
2018Q2  31097661.29
2018Q3  38292071.12
2018Q4  28265677.59

In [67]:
#当前逾期90+金额
df4 = df3[df3['是否到期90天'] == 1]
fn3 = df4.groupby("账单季度")[['未收金额2']].sum()
fn3.columns = ['当前逾期90+金额']
fn3

        当前逾期90+金额
账单季度
2017Q3    63883.0
2017Q4    57380.0
2018Q1    64283.0
2018Q2   106930.0
2018Q3   412920.1
2018Q4   304183.0

In [68]:
#拼接3部分的结果
final1= pd.concat([fn1,fn2,fn3],axis=1)
final1

               账单金额         到期金额  当前逾期90+金额
账单季度
2017Q3   8247952.62   8247952.62    63883.0
2017Q4  11643604.99  11643604.99    57380.0
2018Q1  17149674.79  17149674.79    64283.0
2018Q2  31097661.29  31097661.29   106930.0
2018Q3  38292071.12  38292071.12   412920.1
2018Q4  51963089.64  28265677.59   304183.0

In [69]:
final1['90+净坏账率'] = round(final1['当前逾期90+金额']/final1['到期金额'],3)
final1

               账单金额         到期金额  当前逾期90+金额  90+净坏账率
账单季度
2017Q3   8247952.62   8247952.62    63883.0    0.008
2017Q4  11643604.99  11643604.99    57380.0    0.005
2018Q1  17149674.79  17149674.79    64283.0    0.004
2018Q2  31097661.29  31097661.29   106930.0    0.003
2018Q3  38292071.12  38292071.12   412920.1    0.011
2018Q4  51963089.64  28265677.59   304183.0    0.011

In [70]:
bar = (
    Bar()
    .add_xaxis(list(final1.index.values.astype(str)))
    .add_yaxis(
        "账单金额",
        list(final1.账单金额),
        yaxis_index=0,
        color="#5793f3",
    )
    .set_global_opts(
        title_opts=opts.TitleOpts(title="90+净坏账率"),
    )
    .extend_axis(
        yaxis=opts.AxisOpts(
            name="90+净坏账率",
            type_="value",
            min_=0,
            max_=0.014,
            position="right",
            axisline_opts=opts.AxisLineOpts(
                linestyle_opts=opts.LineStyleOpts(color="#d14a61")
            ),
            axislabel_opts=opts.LabelOpts(formatter="{value}"),
        )
    )
)
line = (
    Line()
    .add_xaxis(list(final1.index.values.astype(str)))
    .add_yaxis(
        "90+净坏账率",
        list(final1['90+净坏账率']),
        yaxis_index=1,
        color="#675bba",
        label_opts=opts.LabelOpts(is_show=False),
    )
)
bar.overlap(line).render()

'D:\\code\\workspace2\\financial20\\day01\\render.html'

* 60天账期的入催率、90天账期的入催率

In [71]:
#得到60天账期的账单金额
df4 = df3[(df3['账期'] == 60) & (df3['是否到期'] == 1)]
fn4 = df4.groupby("账单季度")[['账单金额']].sum()
fn4.columns = ['60天账期的账单金额']
fn4

         60天账期的账单金额
账单季度
2017Q3   4854770.94
2017Q4   6737327.99
2018Q1  12106356.79
2018Q2  19234086.87
2018Q3  22830710.42
2018Q4  26337959.52

In [73]:
#60天的入催金额
df4 = df3[(df3['账期'] == 60) & (df3['是否到期'] == 1) & (df3['历史逾期天数'] > 0)]
fn5 = df4.groupby("账单季度")[['未收金额2']].sum()
fn5.columns = ['60天账期的入催金额']
fn5

        60天账期的入催金额
账单季度
2017Q3     36983.0
2017Q4     52750.0
2018Q1     62460.0
2018Q2     13590.0
2018Q3    380265.1
2018Q4    584789.5

In [74]:
#得到90天账期的账单金额
df4 = df3[(df3['账期'] == 90) & (df3['是否到期'] == 1)]
fn6 = df4.groupby("账单季度")[['账单金额']].sum()
fn6.columns = ['90天账期的账单金额']
fn6

        90天账期的账单金额
账单季度
2017Q3   2769264.0
2017Q4   3921491.0
2018Q1   4244304.0
2018Q2   8427775.0
2018Q3   9835629.0
2018Q4  17706430.0

In [75]:
#90天的入催金额
df4 = df3[(df3['账期'] == 90) & (df3['是否到期'] == 1) & (df3['历史逾期天数'] > 0)]
fn7 = df4.groupby("账单季度")[['未收金额2']].sum()
fn7.columns = ['90天账期的入催金额']
fn7

        90天账期的入催金额
账单季度
2017Q3      1900.0
2017Q4         0.0
2018Q1       800.0
2018Q2         0.0
2018Q3      8235.0
2018Q4    325141.0

In [76]:
#统计60天和90天的入催率
final2 = pd.concat([fn4,fn5,fn6,fn7],axis=1)
final2

         60天账期的账单金额  60天账期的入催金额  90天账期的账单金额  90天账期的入催金额
账单季度
2017Q3   4854770.94     36983.0   2769264.0      1900.0
2017Q4   6737327.99     52750.0   3921491.0         0.0
2018Q1  12106356.79     62460.0   4244304.0       800.0
2018Q2  19234086.87     13590.0   8427775.0         0.0
2018Q3  22830710.42    380265.1   9835629.0      8235.0
2018Q4  26337959.52    584789.5  17706430.0    325141.0

In [78]:
final2['60天账期入催率'] = round(final2['60天账期的入催金额']/final2['60天账期的账单金额'],3)
final2['90天账期入催率'] = round(final2['90天账期的入催金额']/final2['90天账期的账单金额'],3)
final2

         60天账期的账单金额  60天账期的入催金额  90天账期的账单金额  90天账期的入催金额  60天账期入催率  90天账期入催率
账单季度
2017Q3   4854770.94     36983.0   2769264.0      1900.0     0.008     0.001
2017Q4   6737327.99     52750.0   3921491.0         0.0     0.008     0.000
2018Q1  12106356.79     62460.0   4244304.0       800.0     0.005     0.000
2018Q2  19234086.87     13590.0   8427775.0         0.0     0.001     0.000
2018Q3  22830710.42    380265.1   9835629.0      8235.0     0.017     0.001
2018Q4  26337959.52    584789.5  17706430.0    325141.0     0.022     0.018

In [79]:
line = (
    Line()
    .add_xaxis(list(final1.index.values.astype(str)))
    .add_yaxis(
        "60天账期入催率",
        list(final2['60天账期入催率']),
        yaxis_index=0,
        color="#675bba",
        label_opts=opts.LabelOpts(is_show=False),
    )
    .set_global_opts(
    title_opts=opts.TitleOpts(title="不同账期入催率"),
    )
    .add_xaxis(list(final1.index.values.astype(str)))
    .add_yaxis(
        "90天账期入催率",
        list(final2['90天账期入催率']),
        yaxis_index=0,
        color="#d14a61",
        label_opts=opts.LabelOpts(is_show=False),
    )
)
line.render()

'D:\\code\\workspace2\\financial20\\day01\\render.html'

* 回收账单数

In [100]:
df5 = df3[(df3['未收金额2'] == 0) & (df3['是否到期'] == 1)]

In [101]:
df5['历史逾期天数'] = pd.cut(x=df5['历史逾期天数'],
       bins=[-999,0,5,10,15,20,30,60,90,999],
       labels=['0','1-5','6-10','11-15','16-20','21-30','31-60','61-90','90+'])

<ipython-input-101-e4b3e7a76a2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['历史逾期天数'] = pd.cut(x=df5['历史逾期天数'],

In [102]:
final3 = df5.groupby("历史逾期天数")[['账期']].count()

In [103]:
final3.columns = ['回收账单数']

In [104]:
final3

        回收账单数
历史逾期天数
0        2400
1-5       358
6-10      235
11-15     215
16-20      92
21-30     189
31-60     156
61-90      60
90+        88

In [105]:
ydata = final3['回收账单数'].values.tolist()
bar = (
    Bar()
    .add_xaxis(list(final3.index.values.tolist()))
    .add_yaxis("收回账单数",ydata,yaxis_index=0,color="#675bba")
    .set_global_opts(
    title_opts=opts.TitleOpts(title="不同逾期天数的已收回账单数"),
    )
)
bar.render()

'D:\\code\\workspace2\\financial20\\day01\\render.html'