In [1]:
import pandas as pd
df = pd.DataFrame({'A':[5,91,3],'B':[90,15,66],'C':[93,27,3]})
df

    A   B   C
0   5  90  93
1  91  15  27
2   3  66   3

In [2]:
#pearson：默认，皮尔逊相关
#kendall：肯德尔相关
#spearman：斯皮尔曼相关
df.corr()

          A         B         C
A  1.000000 -0.943228 -0.240882
B -0.943228  1.000000  0.549571
C -0.240882  0.549571  1.000000

In [4]:
#df.corr(method='kendall')
df.corr(method='spearman')

     A    B    C
A  1.0 -0.5  0.5
B -0.5  1.0  0.5
C  0.5  0.5  1.0

In [5]:
#toad库，可以一次性计算IV，相关性指标
import toad
data = pd.read_csv('../data/germancredit.csv')
data.replace({'good':0,'bad':1},inplace=True)
data.shape

(1000, 21)

In [6]:
#target：标签列
#iv：iv值，如果iv低于这个值就会被删除
#corr计算的是皮尔逊相关
#return_drop：返回被删除的列
#exclude：排除，可以去除哪些列不参与计算
#返回值：数据集，被删除的列
selected_data,drop_list = toad.selection.select(data,
                      target = 'creditability',
                      empty = 0.5,
                      iv = 0.05,
                      corr = 0.7,
                      return_drop = True)

In [7]:
selected_data

,status.of.existing.checking.account,duration.in.month,credit.history,purpose,credit.amount,savings.account.and.bonds,present.employment.since,property,age.in.years,other.installment.plans,housing,creditability
0,... < 0 DM,6,critical account/ other credits existing (not ...,radio/television,1169,unknown/ no savings account,... >= 7 years,real estate,67,none,own,0
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,radio/television,5951,... < 100 DM,1 <= ... < 4 years,real estate,22,none,own,1
2,no checking account,12,critical account/ other credits existing (not ...,education,2096,... < 100 DM,4 <= ... < 7 years,real estate,49,none,own,0
3,... < 0 DM,42,existing credits paid back duly till now,furniture/equipment,7882,... < 100 DM,4 <= ... < 7 years,building society savings agreement/ life insur...,45,none,for free,0
4,... < 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,unknown / no property,53,none,for free,1
...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking account,12,existing credits paid back duly till now,furniture/equipment,1736,... < 100 DM,4 <= ... < 7 years,real estate,31,none,own,0
996,... < 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,building society savings agreement/ life insur...,40,none,own,0
997,no checking account,12,existing credits paid back duly till now,radio/television,804,... < 100 DM,... >= 7 years,"car or other, not in attribute Savings account...",38,none,own,0
998,... < 0 DM,45,existing credits paid back duly till now,radio/television,1845,... < 100 DM,1 <= ... < 4 years,unknown / no property,23,none,for free,1
999,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,"car or other, not in attribute Savings account...",27,none,own,0

In [8]:
drop_list

{'empty': array([], dtype=float64),
 'iv': array(['installment.rate.in.percentage.of.disposable.income',
        'personal.status.and.sex', 'other.debtors.or.guarantors',
        'present.residence.since',
        'number.of.existing.credits.at.this.bank', 'job',
        'number.of.people.being.liable.to.provide.maintenance.for',
        'telephone', 'foreign.worker'], dtype=object),
 'corr': array([], dtype=object)}

In [11]:
#drop_list['empty']
#drop_list['iv']
drop_list['corr']

array([], dtype=object)

In [12]:
print('保留特征:',selected_data.shape[1],'缺失删除:',len(drop_list['empty']),'低iv删除：',len(drop_list['iv']),'高相关删除：',len(drop_list['corr']))

保留特征: 12 缺失删除: 0 低iv删除： 9 高相关删除： 0